.social--links {
    margin: 0;
    padding: 10px 0 0;
    li {
        display: inline-block;
        padding-right: 1em;
    }
    a {
        text-decoration: none;
        font: {
            size: 21px;
        };
    }
}