---
layout: default
title: "Home"
fulltitle: "PHL Design"
---
<!-- fulltitle: This overrides the default page title, which is "{{page.tite}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->

<!-- <div class="promo-call-out">
	<div class="row">
		<div class="small-12 columns">
			<p class="text-center">Join us at <a href="https://www.google.com/maps/place/Brick+and+Mortar/@39.9582329,-75.1604245,17z/data=!3m1!4b1!4m2!3m1!1s0x89c6c62b321d46e9:0x6be22c707ecab472" target="_blank">Brick and Mortar</a> on January 15th to celebrate the 1 Year Anniversary of PHLDesign Co. <a href="https://attending.io/events/phldesignrd2" target="_blank">RSVP today!</a></p>
		</div>
	</div>
</div> -->

<div class="row intro-block">
	<div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 end columns">
		<h1 class="hero-header">Welcome to the<BR>Philadelphia Design Community.</h1>
		<p class="hero-text">A resource for designers and developers to stay connected, learn about upcoming events and find prospective career opportunities.</p>
		<button class="hero-slack"><a href="http://slack.phldesign.co" target="_blank">Join our Slack</a></button>
	</div>
</div>


<!-- <div class="row page-section-content">
	<div class="small-12 columns">
		<h2 class="page-section-title">Upcoming Events</h2>
	</div>
	{% assign curDate = site.time | date: '%Y-%m-%d' %}
	{% assign postStartDate = site.data.events.date | date: '%Y-%m-%d' %}
	{% assign eventPost = site.data.events  where postStartDate >= curDate | sort: 'date'  %}
	{% for event in eventPost limit: 3 %}
	<div class="medium-4 small-12 end columns">
		<div class="content-block">
			<div class="event-info">
				<p class="content-date">{{ event.date | date: '%B %-d, %Y' }}</p>
				<h3 class="content-title">{{ event.title }}</h3>
				{% if event.time %}
				<p class="content-time">Starts at {{ event.time }}</p>
				{%  endif %}
				{% if event.location %}
				<p class="content-location"><a href="http://maps.google.com/?q={{ event.location }}" target="_blank">{{ event.location }}</a></p>
				{%  endif %}
				{% if event.subheader %}
				<p class="content-description">{{ event.subheader }}</p>
				{% endif %}
			</div>
			{% if event.eventlink %}
			<a href="{{ event.eventlink }}" target="_blank"><button>Attend</button></a>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<div class="small-12 columns">
		<p class="view-all-link"><a href="/events/">View all Upcoming Events »</a></p>
	</div>
</div> -->

<div class="row page-section-content">
	<div class="small-12 columns">
		<h2 class="page-section-title">Job Opportunities</h2>
	</div>
	{% for post in site.categories['jobs'] limit:3 %}
	<div class="medium-4 small-12 columns end">
		<div class="content-block">
			<p class="content-date">{{ post.date | date: '%B %d, %Y' }}</p>
			<p class="content-company">{{ post.company }}</p>
			<h3 class="content-title"><a href="{{ post.url }}">{{ post.position }}</h3><button>More Info</button></a>
		</div>
	</div>
	{% endfor %}
	<div class="small-12 columns">
		<p class="view-all-link"><a href="/jobs/">View all Job Opportunities »</a></p>
	</div>
</div>

<div class="row page-section-content">
	<div class="small-12 columns">
		<h2 class="page-section-title">PHLDesign Co. Dribbble</h2>
	</div>
	<div class="small-12 columns">
		<ul class="shots">
		</ul>
	</div>
</div>

<div class="row page-section-content">
	<div class="small-12 columns">
		<h2 class="page-section-title">HiRes Podcast</h2>
	</div>
	<div class="small-12 columns">
		<audio src="http://traffic.libsyn.com/hirespod/HiResEp32-Kyle_Fiedler.m4a" preload="auto" controls loop></audio>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/audiojs/audioplayer.js"></script>
		<script>$( function() { $( 'audio' ).audioPlayer(); } );</script>
		<p class="text-center">This week's HiRes Podcast features Kyle Fiedler.</p>
		<p class="smaller text-center">Make sure to stop by <a href="http://hirespod.com" target="_Blank">HiRes</a> to listen to previous podcasts, or <a href="https://itunes.apple.com/us/podcast/hires/id991081339?mt=2&ls=1" target="_blank">subscribe to the podcast</a>.</p>
	</div>
</div>
