html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $off-white;
}

a {
    @include transition(all, 250ms, ease-in-out);
    color: $accent;
    text-decoration: underline;
    &:visited {
        color: $accent-dark;
    }
    &:hover {
        color: darken($accent-dark, 20%);
    }
}