html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
}

a {
    @include transition(all, 250ms, ease-in-out);
    color: $primary;
    text-decoration: underline;
    &:hover {
        color: darken($primary, 10%);
    }
}

p.smaller {
    font-size: 85%;
    margin-top: 1em;
}