html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $off-white;
}

.wrapper {
    padding-top: 120px;
}

@media (min-width: 641px) and (max-width: 768px) {
    .wrapper {
        padding-top: 157px;
    }
}

@media only screen and (max-width: 640px) {
    .wrapper {
        padding-top: 30px;
    }
}

a {
    @include transition(all, 250ms, ease-in-out);
    color: $accent;
    &:hover {
        color: $accent-dark;
    }
}