button {
    @include transition(all, 250ms, ease-in-out);
    background-color: $accent;
    border: none;
    padding: .5em 1.25em;
    color: white;
    text-transform: uppercase;
    font: {
        size: 13px;
        weight: 600;
    };
    letter-spacing: .15em;
    &:hover {
        background-color: $tertiary;
    }
}

.outline {
    @extend button;
    border: 1px solid $accent;
    background-color: transparent;
    color: $accent;
    &:hover {
        background-color: $accent;
        color: white;
    }
}