button {
    @include transition(all, 250ms, ease-in-out);
    background-color: $accent;
    border: none;
    padding: .35em 2em;
    color: white;
    text-transform: uppercase;
    font: {
        size: 14px;
        weight: 600;
    };
    letter-spacing: .1em;
    &:hover {
        background-color: $tertiary;
    }
}

button.view--all {
    width: 100%;
    padding: 1em 2em;
    margin-top: 2em;
}

@media only screen and (max-width: 40em) {
    button.view--all {
        margin-bottom: 6em;
    }
}

.outline {
    @extend button;
    border: 1px solid $accent;
    background-color: transparent;
    color: $accent;
    &:hover {
        background-color: $accent;
        color: white;
    }
}