button {
    @include transition(all, 0.2s, ease-in-out);
    background-color: transparent;
    border: 1px solid $red;
    padding: .25em 2em;
    font: {
        family: $sans-serif;
        size: 14px;
        weight: 400;
    };
    letter-spacing: .075em;
    color: $red;
    text-transform: uppercase;
    &:hover {
        background-color: $red;
        color: white;
    }
}

.view--all {
    background-color: $navy;
    border: none;
    color: white;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 1em 0;
    font-weight: 600;
}

@media only screen and (max-width: 40em) {
    .view--all {
        margin-bottom: 60px;
    }
}