p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

p.lead {
    font-size: 1.21875rem;
    line-height: 1.6;
}

p aside {
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.35;
}

h1, h2, h3, h4, h5, h6 {
    color: $grey-dark;
    font-family: 'Source Sans Pro', Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.125rem;
}

h2 {
    font-size: 1.6875rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

@media only screen and (min-width: 40.0625em) {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.4;
    }
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2.3125rem;
    }
    h3 {
        font-size: 1.6875rem;
    }
    h4 {
        font-size: 1.4375rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    h6 {
        font-size: 1rem;
    }
}