$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

$white: #ffffff;
$off-white: #fafafa;
$black: #000000;

$primary: #3a4ca8;
$primary-light: #e8eaf6;
$primary-dark: #3f53b1;

$accent: #fc1e49;
$accent-light: #fd8a82;
$accent-dark: #d10714;

$grey-dark: #333333;
$grey: #7e7e7e;
$grey-light: #bebebe;