$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

$white: #ffffff;
$off-white: #fafafa;
$black: #000000;

$primary: #FF5252;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 15%);

$accent: #009688;
$accent-light: lighten($accent, 15%);
$accent-dark: darken($accent, 15%);

$grey-dark: #333333;
$grey: #7e7e7e;
$grey-light: #bebebe;