<div id="header" class="top-nav">
	<div class="row">
		<div class="large-4 small-12 columns">
			<a href="/">
				<img src="/img/logo-white.png" class="page-logo" alt="">
				<h1 class="logo-type">PHLDESIGN CO</h1>
			</a>
		</div>
		<div class="small-12 large-8 columns">
			<ul class="navigation">
				<li><a class="nav-link" href="/events">Events</a></li>
				<li><a class="nav-link" href="/jobs">Jobs</a></li>
				<li><a class="nav-link" href="/links-resources">Resources</a></li>
				<li><a class="nav-link" href="/agencies">Directory</a></li>
				<li><a class="nav-link" href="/code">Code of Conduct</a></li>
				<li><a class="nav-link" href="http://www.twitter.com/phldesignco" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a class="nav-link" href="http://www.instagram.com/phldesignco" target="_blank"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
</div>
