html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $off-white;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

#header {
    background-color: $navy;
    h1 {
        color: $red;
        margin-bottom: 0;
        letter-spacing: .025em;
        font-weight: 600;
        a {
            text-decoration: none;
            &:hover {
                color: white;
            }
        }
    }
    p {
        font-weight: 300;
        color: white;
        margin: -10px 0 2.67em;
        letter-spacing: .05em;
    }
}

@media only screen and (max-width: 40em) {
    #header {
        h1 {
            margin-bottom: 10px;
        }
    }
}

.latest--events,
.latest--jobs {
    background-color: $red;
    color: white;
    padding: .25em 1em;
    font: {
        size: 16px;
        weight: 600;
    };
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
}

.event--block,
.job--block {
    padding: 0 0 0 30px;
    margin: 40px 0;
    border-left: 1px solid $red;
}

.event--block--all {
    padding: 30px;
    margin: 40px 0 0;
    background-color: white;
    @include BoxShadowHelper($level-1);
    @include transition(all, 350ms, ease-in-out);
    &:hover {
        @include BoxShadowHelper($level-4);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@media only screen and (max-width: 40em) {
    .event--block,
    .job--block,
    .event--block--all {
        border: none;
        padding: 0;
    }
}

.event--date,
.event--location,
.event--time,
.job--position,
.job--company {
    margin: 3px 0;
}

.event--title,
.event--subheader {
    margin: 0 0 0;
}

.event--date,
.event--location,
.event--time,
.job--company {
    font-size: 14px;
}

.title--block {
    display: block;
    margin-bottom: 1em;
}

.event--time,
.job--company {
    margin-bottom: 20px;
}

.event--subheader {
    font-weight: 300;
    line-height: 1.4;
}

@media only screen and (max-width: 40em) {
    .latest--events {
        margin-top: 40px;
    }
    .latest--jobs {
        margin-top: 30px;
    }
}

#footer {
    height: 50px;
    display: block;
}