.member--block {
    @extend .event--block;
}

.member--name {
    margin: 0;
}

.social--links {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        padding: 0 1.5em 0 0;
        margin-top: 1em;
        a {
            font: {
                size: 20px;
            };
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 40em) {
    .social--links {
        li {
            a {
                font: {
                    size: 24px;
                };
                text-decoration: none;
            }
        }
    }
}