.intro-block {
    @include intro-gradient;
    padding: 6em 0;
    h2 {
        color: white;
        font: {
            size: 32px;
        };
        a {
            color: white;
            text-decoration: none;
            border-bottom: 2px solid white;
        }
    }
}

.all-events-link {
    float: right;
}

.page-subhead {
    font: {
        size: 21px;
        weight: 700;
    };
    margin: 0;
    display: inline;
    color: white;
}

.page-subhead.links {
    a {
        color: $grey-dark;
        padding-bottom: 3x;
        text-decoration: none;
        border-bottom: 2px solid $grey-dark;
        &:hover {
            color: white;
            padding-bottom: 3x;
            border-bottom: 2px solid white;
        }
    }
    .selected {
        font: {
            weight: 600;
        };
        color: white;
    }
}

.content--block {
    @include transition(all, 250ms, ease-in-out);
    @include BoxShadowHelper($level-1);
    background-color: $white;
    padding: 30px;
    margin: 30px 0;
    .content--date {
        margin: 0;
        font: {
            size: 12px;
        };
        text-transform: uppercase;
        color: $grey;
    }
    .content--title {
        margin: 0;
        font: {
            size: 26px;
            weight: 700;
        };
        line-height: 1.3;
        letter-spacing: 0;
    }
    .content--location,
    .content--company {
        margin: .85em 0;
        font: {
            size: 14px;
        };
        a {
            @include transition(all, 250ms, ease-in-out);
            color: $accent;
            &:hover {
                color: $accent-dark;
            }
        }
    }
    .content--description {
        margin: 1em 0 0;
        font: {
            size: 15px;
            weight: 300;
        };
        letter-spacing: 0.05em;
    }
    &:hover {
        @include BoxShadowHelper($level-3);
        -ms-transform: translate(0, -5px);
        /* IE 9 */
        -webkit-transform: translate(0, -5px);
        /* Safari */
        transform: translate(0, -5px);
    }
    button {
        margin: 20px 0 0;
    }
    strong {
        font-weight: 600;
    }
}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}