.intro-block {
    @include intro-gradient;
    padding: 7em 0;
    margin-bottom: 1em;
    h2 {
        color: white;
        font: {
            size: 32px;
        };
        a {
            @include transition(all, 250ms, ease-in-out);
            color: white;
            text-decoration: none;
            border-bottom: 2px solid white;
            &:hover {
                color: #111111;
                border-bottom: 2px solid #111111;
            }
        }
    }
}

@media only screen and (max-width: 40em) {
    .intro-block {
        padding: 1.25em 0;
        margin-bottom: 0;
        h2 {
            font-size: 18px;
            line-height: 1.6;
            a {
                display: inline-block;
                border-bottom: none;
                text-decoration: underline;
                &:hover {
                    border-bottom: none;
                }
            }
        }
    }
}

.all-events-link {
    float: right;
    color: $tertiary;
    margin-top: .75em;
    font: {
        size: 14px;
        weight: 600;
    };
    &:visited {
        color: $tertiary;
    }
    &:hover {
        color: $tertiary-dark;
    }
}

@media only screen and (max-width: 40em) {
    .all-events-link {
        display: block;
        float: none;
    }
}

.section-header {
    padding: 2em 0 .75em;
    border-bottom: 1px solid lighten($grey-light, 20%);
}

.page-subhead {
    font: {
        size: 26px;
        weight: 600;
    };
    margin: 0;
    display: inline;
    color: $grey-dark;
}

.page-subhead.links {
    a {
        color: $tertiary;
        padding-bottom: 3x;
        text-decoration: none;
        border-bottom: 2px solid $tertiary;
        &:hover {
            color: $tertiary-dark;
            padding-bottom: 3x;
            border-bottom: 2px solid $tertiary-dark;
        }
    }
    .selected {
        font: {
            weight: 600;
        };
        color: $grey-dark;
    }
}

.content-section {
    margin-bottom: 2em;
}

.content--block {
    background-color: $white;
    margin: 40px 0;
    .content--date {
        margin: 0;
        font: {
            size: 11px;
            weight: 600;
        };
        text-transform: uppercase;
        color: $grey;
        letter-spacing: .15em;
    }
    .content--title {
        margin: .15em 0 .25em;
        color: $primary;
        font: {
            size: 28px;
            weight: 700;
        };
        line-height: 1.2;
        letter-spacing: 0;
    }
    .content-time,
    .content--location {
        margin: 0;
        font: {
            size: 16px;
        };
    }
    .content--description {
        margin: .75em 0 0;
        font: {
            size: 14px;
            weight: 300;
        };
        line-height: 1.6;
        letter-spacing: 0.05em;
    }
    .content--company {
        margin: .25em 0;
        font: {
            size: 16px;
            weight: 600;
        };
        a {
            @include transition(all, 250ms, ease-in-out);
            color: $accent;
            &:hover {
                color: $accent-dark;
            }
        }
    }
    .content--curator {
        margin: .5em 0 0;
        font: {
            size: 14px;
        };
    }
    button {
        margin: 20px 0 0;
    }
    strong {
        font-weight: 600;
    }
}

@media only screen and (max-width: 40em) {
    .content--block {
        margin: 30px 0 15px;
        .content--title {
            font: {
                size: 21px;
            };
        }
    }
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

ul.shots {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    .shots--shot {
        padding: 4px;
        list-style: none;
        -webkit-flex-basis: 25%;
        flex-basis: 25%;
    }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        .shots--shot {
            -webkit-flex-basis: 33.333%;
            flex-basis: 33.333%;
        }
    }
    @media only screen and (max-width: 40em) {
        .shots--shot {
            -webkit-flex-basis: 50%;
            flex-basis: 50%;
        }
    }
}