---
layout: default
title: "Home"
fulltitle: "PHL Design" 
---
<!-- fulltitle: This overrides the default page title, which is "{{page.tite}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->

<div class="wrapper">
	<div class="row">
		<div class="small-12 columns">
		{% assign jobPost = site.data.jobs | sort: 'date' %}
		{% for job in site.data.jobs %}
  			{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
		{% endfor %}
			<div class="clearfix">
				<h2 class="page-subhead">All Jobs ({{post_count}})</h2>
			</div>
			{% for job in jobPost reversed %}
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% if loopindex == 1 %}
			<div class="row">
				<div class="medium-6 small-12 columns clearfixs">
					<div class="content--block">
						<h3 class="content--title">{{ job.position }}</h3>
							{% if job.companyurl %}
								<p class="content--company">Company: <a href="{{ job.companyurl }}" target="_blank">{{ job.company }}</a></p>
							{% else %}
	          					<p class="content--company">Company: {{ job.company }}</p>
	          				{% endif %}
	          				{% if job.reference %}
	          					<p class="content--company">Point of Contact: <a href="/members#{{ job.reference }}">{{ job.reference }}</a></p>
	          				{% endif %}
						<a href="{{ job.joblink }}" target="_blank" ><button class="outline">Apply</button></a>
					</div>
				</div>
				{% else %}
				<div class="medium-6 small-12 columns clearfixs">
					<div class="content--block">
						<h3 class="content--title">{{ job.position }}</h3>
							{% if job.companyurl %}
								<p class="content--company">Company: <a href="{{ job.companyurl }}" target="_blank">{{ job.company }}</a></p>
							{% else %}
	          					<p class="content--company">Company: {{ job.company }}</p>
	          				{% endif %}
	          				{% if job.reference %}
	          					<p class="content--company">Point of Contact: <a href="/members#{{ job.reference }}">{{ job.reference }}</a></p>
	          				{% endif %}
						<a href="{{ job.joblink }}" target="_blank" ><button class="outline">Apply</button></a>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>