---
layout: default
title: "Home"
fulltitle: "PHL Design" 
---
<!-- fulltitle: This overrides the default page title, which is "{{page.tite}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->

<div class="wrapper">
	<div class="row">
		<div class="small-12 columns">
			<div class="clearfix">
				<h2 class="page-subhead">All Jobs</h2>
			</div>
			{% for post in site.categories['jobs']%}
			
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% if loopindex == 1 %}
			<div class="row">
				<div class="medium-6 small-12 columns clearfixs">
					<div class="content--block">
						<h3 class="content--title">{{ post.position }}</h3>
							{% if post.companyurl %}
								<p class="content--company">Company: <a href="{{ post.companyurl }}" target="_blank">{{ post.company }}</a></p>
							{% else %}
	          					<p class="content--company">Company: {{ post.company }}</p>
	          				{% endif %}
						<a href="{{ post.joblink }}" target="_blank" ><button class="outline">Apply</button></a>
					</div>
				</div>
				{% else %}
				<div class="medium-6 small-12 columns clearfixs">
					<div class="content--block">
						<h3 class="content--title">{{ post.position }}</h3>
						{% if post.companyurl %}
								<p class="content--company">Company: <a href="{{ post.companyurl }}" target="_blank">{{ post.company }}</a></p>
							{% else %}
	          					<p class="content--company">Company: {{ post.company }}</p>
	          				{% endif %}
						<a href="{{ post.joblink }}" target="_blank" ><button class="outline">Apply</button></a>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>