.promo-call-out {
    background-color: #333333;
    color: white;
    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
}

.intro-block {
    padding: 40px 0;
    border-bottom: 1px solid $primary;
    @media only screen and (min-width: 641px) {
        padding: 80px 0;
    }
}

.hero-header {
    font: {
        size: 30px;
        weight: 300;
    };
    text-align: center;
    @media only screen and (min-width: 641px) {
        font: {
            size: 48px;
            weight: 300;
        };
    }
}

.hero-text {
    font: {
        size: 16px;
    };
    text-align: center;
}

.hero-slack {
    display: block;
    margin: 0 auto;
}

.page-section-content {
    padding: 20px 0;
    border-bottom: 1px solid $primary;
    @media only screen and (min-width: 641px) {
        padding: 40px 0;
    }
}

.page-section-title {
    text-align: center;
    font: {
        size: 28px;
        weight: 300;
    };
    padding-bottom: 10px;
    @media only screen and (min-width: 641px) {
        font: {
            size: 36px;
        };
        padding-bottom: 40px;
    }
}

.content-block {
    margin-bottom: 3em;
}

.content-date {
    font: {
        size: 12px;
        weight: 700;
    };
    margin: 0;
    text-transform: uppercase;
}

.content-title {
    font: {
        size: 28px;
        weight: 300;
    };
    a {
        color: #333;
        text-decoration: none;
        &:hover {
            color: $primary;
        }
    }
}

.content-time,
.content-location {
    font: {
        size: 16px;
    };
    margin: 0;
}

.content-location {
    a {
        color: #333;
        text-decoration: underline;
        &:hover {
            color: $primary;
        }
    }
}

.content-description {
    font: {
        size: 13px;
    };
    margin: .75em 0 0;
}

.content-company {
    font: {
        size: 16px;
        weight: 700;
    };
    margin: 0;
}

.view-all-link {
    margin: 10px 0 30px;
    text-align: left;
    @media only screen and (min-width: 641px) {
        margin: 0;
        text-align: center;
    }
}

.job-post,
.code-of-conduct {
    line-height: 1.9;
    h3 {
        font: {
            size: 24px;
            weight: 300;
        };
        text-transform: capitalize;
    }
    p {
        font: {
            size: 16px;
        };
        line-height: 1.8;
    }
    ul, ol {
        margin: 0 0 1em;
        font: {
            size: 16px;
        };
    }
}