.links--resources {
    .page-subhead {
        color: $grey-dark;
    }
    h2 {
        color: $primary;
        padding: 0;
        margin: 0;
    }
    h4 {
        margin: .5em 0 .25em .75em;
    }
    ul {
        margin: 0 0 2em 1em;
    }
}