<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<body>
	<script src="/js/jquery-2.1.4.min.js"></script>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	{% include nav.html %}

	<div class="row page-section-content">
		<div class="small-12 large-8 large-offset-2 end columns content-block job-post">
			{% if page.companyurl %}
			<p class="content-company"><a href="{{ page.companyurl }}" target="_blank">{{ page.company }}</a></p>
			{% else %}
			<p class="content-company">{{ page.company }}</p>
			{% endif %}
			<h1 class="content-title">{{ page.position }}</h1>
			{% if page.reference %}
			<p class="job--curator">via <a href="/members#{{ page.reference }}">{{page.reference}}</a></p>
			{% else %}
			{% endif %}
			{{ content }}
			<a href="{{ page.joblink }}" target="_blank" ><button>Apply</button></a>
		</div>
	</div>

</body>
{% include footer.html %}
</html>

