---
layout: default
title: "Home"
fulltitle: "PHL Design" 
---

<div class="wrapper">
	<div class="row">
		<div class="small-12 columns">
		{% assign eventPost = site.data.events | sort: 'date' %}
		{% for event in site.data.events %}
  			{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
		{% endfor %}
			<div class="clearfix">
				<h2 class="page-subhead">Upcoming Events ({{post_count}})</h2>
			</div>
			
			{% for event in eventPost %}
			{% assign curDate = site.time | date: '%m/%d/%Y' %}
			{% assign postStartDate = event.date | date: '%m/%d/%Y' %}
			{% if postStartDate >= curDate %}
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% if loopindex == 1 %}
			<div class="row">
				<div class="medium-6 small-12 columns clearfixs">
					<div class="content--block">
						<div class="event--info">
							<p class="content--date">{{ event.date | date: '%B %-d, %Y' }}</p>
							<h3 class="content--title">{{ event.title }}</h3>
							{% if event.time %}
							<p class="content--location"><strong>{{ event.location }}</strong> at <strong>{{ event.time }}</strong></p>
							{% else %}
							<p class="content--location"><strong>{{ event.location }}</strong></p>
							{%  endif %}
							{% if event.subheader %}
							<p class="content--description">{{ event.subheader }}</p>
							{% endif %}
						</div>
						{% if event.button == true %}
						<a href="{{ event.eventlink }}" target="_blank"><button class="outline">Attend</button></a>
						{% endif %}
					</div>
				</div>
				{% else %}
				<div class="medium-6 small-12 columns clearfixs">
					<div class="content--block">
						<div class="event--info">
							<p class="content--date">{{ event.date | date: '%B %-d, %Y' }}</p>
							<h3 class="content--title">{{ event.title }}</h3>
							{% if event.time %}
							<p class="content--location"><strong>{{ event.location }}</strong> at <strong>{{ event.time }}</strong></p>
							{% else %}
							<p class="content--location"><strong>{{ event.location }}</strong></p>
							{%  endif %}
							{% if event.subheader %}
							<p class="content--description">{{ event.subheader }}</p>
							{% endif %}
						</div>
						{% if event.button == true %}
						<a href="{{ event.eventlink }}" target="_blank"><button class="outline">Attend</button></a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endif %}
			{% endfor %}
		</div>
	</div>
	</div>
</div>