---
layout: default
title: "Home"
fulltitle: "PHL Design" 
---

<div class="wrapper">
	<div class="row">
		<div class="small-12 columns">
			{% assign eventPost = site.data.events | sort: 'date' %}
			<div class="section-header">
				<h2 class="page-subhead">Upcoming Events</h2>
				<p>Have an event you would like posted? Check out <a href="https://docs.google.com/forms/d/1wkH_NrPRXluLrywV5B5uQ6Dw7Qbg987pUZipKZQ6nYE/viewform" target="_blank">this snazzy form</a>!</p>
			</div>
			{% for event in eventPost %}
			{% assign loopindex = forloop.index | modulo: 3 %}
			{% if loopindex == 1 %}
			<div class="row">
				<div class="large-4 small-12 columns end">
					<div class="content--block">
						<div class="event--info">
							<p class="content--date">{{ event.date | date: '%B %-d, %Y' }}</p>
							<h3 class="content--title">{{ event.title }}</h3>
							{% if event.time %}
							<p class="content-time">Starts at {{ event.time }}</p>
							{%  endif %}
							{% if event.location %}
							<p class="content--location">{{ event.location }}</p>
							{%  endif %}
							{% if event.subheader %}
							<p class="content--description">{{ event.subheader }}</p>
							{% endif %}
						</div>
						{% if event.eventlink %}
							<a href="{{ event.eventlink }}" target="_blank"><button>Attend</button></a>
						{% endif %}
					</div>
				</div>
				{% elsif loopindex == 2 %}
				<div class="large-4 small-12 columns end">
					<div class="content--block">
						<div class="event--info">
							<p class="content--date">{{ event.date | date: '%B %-d, %Y' }}</p>
							<h3 class="content--title">{{ event.title }}</h3>
							{% if event.time %}
							<p class="content-time">Starts at {{ event.time }}</p>
							{%  endif %}
							{% if event.location %}
							<p class="content--location">{{ event.location }}</p>
							{%  endif %}
							{% if event.subheader %}
							<p class="content--description">{{ event.subheader }}</p>
							{% endif %}
						</div>
						{% if event.eventlink %}
							<a href="{{ event.eventlink }}" target="_blank"><button>Attend</button></a>
						{% endif %}
					</div>
				</div>
				{% else %}
				<div class="large-4 small-12 columns end">
					<div class="content--block">
						<div class="event--info">
							<p class="content--date">{{ event.date | date: '%B %-d, %Y' }}</p>
							<h3 class="content--title">{{ event.title }}</h3>
							{% if event.time %}
							<p class="content-time">Starts at {{ event.time }}</p>
							{%  endif %}
							{% if event.location %}
							<p class="content--location">{{ event.location }}</p>
							{%  endif %}
							{% if event.subheader %}
							<p class="content--description">{{ event.subheader }}</p>
							{% endif %}
						</div>
						{% if event.eventlink %}
							<a href="{{ event.eventlink }}" target="_blank"><button>Attend</button></a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
</div>